# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore

README.md

.git
.gitignore
.idea

*/tests/
data/testdata
data/charges_schroeder
.coverage
.coveragerc
pytest.ini
test-requirements.txt

.pytest_cache/
venv/

README.md
